body {
    font-family: 'Roboto';
    text-align: center;
    padding: 0;
    margin: 0;
    color: rgb(36, 35, 35);
    background-color: rgb(212, 208, 208);
}
h1,
h2 {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 42px;
    margin: 60px 0;
}
h2 {
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
ol {
    list-style-type: none;
    padding: 0;
}
a {
    color: #000000; 
    text-decoration: none; 
   }
   a:visited {
    color: #008000; 
   } 
   a:hover {
    color: #008000;  
    text-decoration: none; 
   }
li {
    letter-spacing: 3px;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
    transition: 0.5s ease;
    max-width: 320px;
    margin: 0 auto;
    border-radius: 5px;
}
li:hover {
    background-color: #fff;
    
}
._hidden {
    display: none;
}
._active {
    display: block;
}

.arrow {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin-top: 15%;
    padding: 0 20px;
}
.arrow__back,
.arrow__next {
    min-width: 70px;
    min-height: 70px;
    border-radius: 50%;
    border: 2px solid rgb(36, 35, 35);
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    transition: 0.3s ease;
}
.arrow__next:hover,
.arrow__back:hover {
    background-color: rgb(255, 255, 255);
}
.links{
    text-decoration: none;
    color: black;
    
}