body {
    font-family: 'Roboto', sans-serif;
}
.schedule {
    display: flex;
    align-items: center;
    justify-content: center;
}
.day {
    display: flex;
    justify-content: center;
}
.day_text {
}
.schedule_on_monday {
}
.monday {
    margin-top: 10px;
}

.monday_text {
    padding-top: 5px;
    font-weight: 700;
    font-size: 20px;
}
.link {
    display: flex;
    justify-content: space-between;
}
.link_href {
    background-color: black;
    color: blanchedalmond;
    text-decoration: none;
}
